@font-face {
    font-family: 'Hack';
    src: url('/static/hack-regular.woff2') format('woff2')
  }

body {
    font-family: 'Hack', sans-serif !important;
  }

.gitlab-fork-ribbon.right-top:before {
    background-color:RGB(0,240,16);
}

.footer {
    font-size: 14px;
}